<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Routing name="FileAppender">
            <Routes pattern="$${ctx:threadName}">
                <Route>
                    <File fileName="logs/${ctx:threadName}.log"
                          name="appender-${ctx:threadName}"
                          append="false">
                        <PatternLayout>
                            <Pattern>%date{ISO8601} %-5level %C{1} : %m%n</Pattern>
                        </PatternLayout>
                    </File>
                </Route>
            </Routes>
        </Routing>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <!--            <PatternLayout pattern="%date{ISO8601} %-5level %C{1} : %m%n" />
                         Uncomment to see the thread level info-->
            <PatternLayout pattern="%date{ISO8601} %-5level %t %C{1} : %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.github.dzieciou.testing.curl" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="RAPPIX" level="INFO" additivity="false">
            <AppenderRef ref="STDOUT"/>
            <AppenderRef ref="FileAppender"/>
        </Logger>
        <Root level="INFO">
            <AppenderRef ref="FileAppender"/>
            <AppenderRef ref="STDOUT"/>
        </Root>
    </Loggers>
</Configuration>